:root {
  font-family: 'Nunito Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #353532;
  --color-secondary: #a5988a;
  /* --color-primary: #f9f9f9; */
  --color-accent: #fff;
  --light-neutral: #fff9f3;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f9f8f8;
  /* background-color: #F4F5F7; */
  /* background-color: #353532; */
  /* background-color: #999; */
  color: #8b8b8b;
  margin: 0;
  padding: 0;
}

.wrapper {
  border-radius: 6px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  /* color: #fff; */
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

h1, h2, h3, h4 {
  color: var(--color-primary);
  /* color: #fff; */
}

header {
  /* background: var(--color-primary); */
  /* color: #2a4284; */
  /* border-bottom: 1px solid #dbdfe6; */
  /* background-color: var(--color-primary); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  /* border-bottom: 1px solid #dbdfe6; */
}

.initials {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  font-weight: 900;
  font-size: 1em;
  line-height: 36px;
}

header h3 {
  margin: 0;
}

header a {
  color: var(--color-accent);
  text-decoration: none;
}

header h3 a {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  list-style: none;
  margin-left: 1em;
}

nav ul li:first-child {
  margin-left: 0;
}

main {
  /* background-color: #fff; */
  /* border: 1px solid #eaeaea; */
  /* border-radius: 0 0 6px 6px; */
  padding: 0 3em 1em;
  /* background-color: #f3f3f3; */
}

h2 ~ h2 {
  margin-top: 3em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.footer {
  color: #fefeff;
  padding: 1em;
  text-align: center;
}

.bodyWrapper {
  background-color: #fff;
  border: 1px solid #dbdfe6;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
  padding: 0 2rem 2rem;
}
