.eventList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event {
  background-color: #fefeff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 1px solid rgb(230, 237, 243);
  box-shadow: 0 2px 0px rgba(208, 208, 208, 0.1);
  border-radius: 5px;
  margin-bottom: 1em;
}

.event-info p {
  margin: 0;
}

.eventActions {
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em;
  display: flex;
  flex-grow: 1;
}

.eventActions button {
  /* background-color: #f2f4f9; */
  background-color: transparent;
  border: 1px solid var(--color-accent);
  flex-grow: 1;
  color: var(--color-accent);
  border-radius: 4px;
  padding: 0.75em 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.eventActions button ~ button {
  margin-left: 1rem;
}

.eventActions button:hover {
  /* background-color: #e6e8ed; */
}

.eventActions .goingBtn {
  background-color: var(--color-accent);
  color: #fefeff;
}

.eventActions .goingBtn:hover {
  background-color: #FF8247;
}

.friendEventList {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.friendEventWrapper {
  background-color: #fff;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* border: 1px solid rgb(0, 0, 0, 0.1); */
  box-shadow: 0 4px 4px rgba(128, 128, 128, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1em;
  flex-grow: 1;
}

.friendEventWrapper img {
  max-width: 100%;
}

.friendEventInfoWrapper {
  padding: 2em;
  /* padding-bottom: 6em; */
  padding-top: 0;
  margin-top: -2em;
}

.friendEventInfo {
  flex: 1;
}

.friendEventInfo h3 {
  margin: 0 0 0.5em 0;
}

.friendEventInfo h3 > a {
  font-weight: 800;
  color: var(--color-primary);
}

.friendEventInfo p {
  margin: 0;
}

.friendEventStatus p {
  margin: 0;
  text-align: center;
  background-color: #1abc9c;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
}

.friendAvatars {
  display: flex;
  position: relative;
  height: 48px;
  margin-bottom: 1em;
}

.friendAvatars img {
  border-radius: 50%;
  border: 3px solid white;
  width: 48px;
  height: 48px;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.friendAvatars img ~ img {
  margin-left: -24px;
}

.friendEventInfo {
  flex: 1;
}

.friendEventInfo h3 {
  margin: 0 0 0.5em 0;
}

.columns {
  display: flex;
  gap: 1em;
}

.feed {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}
